.moviesection {
  padding: 5px;
  color: white;
}
.moviesection > h4 {
  padding: 5px;
}
.moviesection__poster {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}

.moviesection__poster::-webkit-scrollbar {
  display: none;
}
.moviesection__poster > img {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.moviesection__poster > img:hover {
  transform: scale(1.08);
  opacity: 1;
}
.moviesection_large > img {
  max-height: 250px;
}
.moviesection_large > img:hover {
  transform: scale(1.08);
  opacity: 1;
}
